<h1>Main Lobby</h1>
<body>
<button routerLink="/invite" class="button">
  <h3>Zu Schachpartie einladen</h3>
</button>
<button routerLink="/myInvite" class="button">
  <h3>Meine Einladungen</h3>
</button>
<button  routerLink="/botGameList" class="button">
  <h3>Schachpartie gegen Computer</h3>
</button>
<br>
<button routerLink="/chooseOpponent" class="button">
  <h3>Spiel einstellungen setzen</h3>
</button>
<button routerLink="/openMatches" class="button">
  <h3>Offene Spiele</h3>
</button>

<button routerLink="/searchUser" class="button">
  <h3>Benutzerfinden</h3>
</button>
<br>
<button routerLink="/myClubs" class="button">
  <h3>Meine Schachclubs</h3>
</button>
<button routerLink="/allClubs" class="button">
  <h3>Alle Schachclubs</h3>
</button>
<button routerLink="/leaderBoard" class="button">
  <h3>Leaderboard</h3>
</button>
<br>
<button routerLink="/puzzle" class="button">
  <h3>Schachpuzzle</h3>
</button>
<button routerLink="/groupChatList" class="button">
  <h3>Gruppenchats</h3>
</button>
<br>
<button routerLink="/profileMain" class="button">
  <h3>Mein Profil</h3>
</button>
<br>
<button routerLink="/pgnExport" class="button">
  <h3>Replay</h3>
</button>
<br>
<button routerLink="/liveList" class="button" >
  <h3>Watch Live</h3>
</button>
</body>
