<div style="display: flex; justify-content: center">
  <div class="twoFactorAuthor-container">
    <h2>TwoFactorAuthor</h2>
    <form (ngSubmit)="onSubmit()" #userFrom="ngForm">
      <label for="twoFactorAuthor"></label>
      <input type="text"
             class="form-control"
             id="twoFactorAuthor"
             name="twoFactorAuthor"
             placeholder="Enter your Code"
             [(ngModel)]="twoFactorAuthor"
      >
      <br>
      <button type="submit" class="btn btn-info">Submit</button>
    </form>
  </div>


</div>
